<h3><%= (t 'authorization_required') %></h3>
<%= form_tag login_path do %>
	<%= label_tag (t 'email') %>
	<p><%= text_field_tag :email %></p>
	<br />
	<%= label_tag (t 'password') %>
	<p><%= password_field_tag :password %></p>
	<br />
	<p>
		<%= submit_tag (t 'login') %>
	</p>
<% end %>